In [4]:
import polars as pl

df = pl.DataFrame([
	{'name': 'COMPANY A', 'id': 1},
	{'name': 'COMPANY B', 'id': 2},
	{'name': 'COMPANY C', 'id': 3},
])
df

shape: (3, 2)
┌───────────┬─────┐
│ name      ┆ id  │
│ ---       ┆ --- │
│ str       ┆ i64 │
╞═══════════╪═════╡
│ COMPANY A ┆ 1   │
│ COMPANY B ┆ 2   │
│ COMPANY C ┆ 3   │
└───────────┴─────┘

In [6]:
# this works as expected (returns all rows)
df.filter(
    pl.col('name').str.contains(pl.lit('COMPANY'), literal=True)
)
df

shape: (3, 2)
┌───────────┬─────┐
│ name      ┆ id  │
│ ---       ┆ --- │
│ str       ┆ i64 │
╞═══════════╪═════╡
│ COMPANY A ┆ 1   │
│ COMPANY B ┆ 2   │
│ COMPANY C ┆ 3   │
└───────────┴─────┘

In [7]:
# this works as expected (returns row with id=2 only)
df.filter(
    pl.col('name').str.contains(pl.lit('B'), literal=True)
)

shape: (1, 2)
┌───────────┬─────┐
│ name      ┆ id  │
│ ---       ┆ --- │
│ str       ┆ i64 │
╞═══════════╪═════╡
│ COMPANY B ┆ 2   │
└───────────┴─────┘

In [8]:
# this does not work!
# you would expect it to filter the df to row with id=1, but instead it returns all rows
df.filter(
    pl.lit('COMPANY A PLUS EXTRA TEXT').str.contains(pl.col('name'), literal=True)
)

shape: (1, 2)
┌───────────┬─────┐
│ name      ┆ id  │
│ ---       ┆ --- │
│ str       ┆ i64 │
╞═══════════╪═════╡
│ COMPANY A ┆ 1   │
└───────────┴─────┘

In [9]:

# this does not work!
# you would expect it to filter the df to row with id=2, but instead it returns no rows
df.filter(
    pl.lit('COMPANY B PLUS EXTRA TEXT').str.contains(pl.col('name'), literal=True)
)

shape: (1, 2)
┌───────────┬─────┐
│ name      ┆ id  │
│ ---       ┆ --- │
│ str       ┆ i64 │
╞═══════════╪═════╡
│ COMPANY B ┆ 2   │
└───────────┴─────┘

In [10]:
df=pl.DataFrame({'a':['abc', 'xyz']})

df.filter(pl.col("a").str.contains('ab')) ##This works

shape: (1, 1)
┌─────┐
│ a   │
│ --- │
│ str │
╞═════╡
│ abc │
└─────┘

In [12]:
s = pl.Series(
    name="url",
    values=[
        "http://vote.com/ballon_dor?ref=polars&candidate=messi",
        "http://vote.com/ballon_dor?candidate=ronaldo&ref=polars",
        "http://vote.com/ballon_dor?error=404&ref=unknown",
    ],
)
s.str.extract(r"candidate=(\w+)", 1).alias("candidate")

shape: (3,)
Series: 'candidate' [str]
[
	"messi"
	"ronaldo"
	null
]

In [20]:
s = pl.Series(
    name="lines",
    values=[
        "I Like\nThose\nOdds",
        "This is\nThe Way",
    ],
)
s.str.extract(r"", 1).alias("matches")

shape: (2,)
Series: 'matches' [str]
[
	null
	null
]

In [22]:
import polars as pl

# Sample data
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [25, 30, 35, 40],
    "city": ["New York", "Los Angeles", "Chicago", "Houston"]
}

# Create a Polars DataFrame
df = pl.DataFrame(data)

In [24]:
# Filter rows where 'city' column contains 'Los'
filtered_df = df.filter(pl.col("city").str.contains("Los"))

print(filtered_df)

shape: (1, 3)
┌──────┬─────┬─────────────┐
│ name ┆ age ┆ city        │
│ ---  ┆ --- ┆ ---         │
│ str  ┆ i64 ┆ str         │
╞══════╪═════╪═════════════╡
│ Bob  ┆ 30  ┆ Los Angeles │
└──────┴─────┴─────────────┘