In [1]:
print('Hello World')

Hello World

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'id':[1,2,3],'name':['aa','bb','cc']})
df

   id name
0   1   aa
1   2   bb
2   3   cc

In [5]:
import polars as pl

In [6]:
df_p = pl.DataFrame({'id':[1,2,3],'name':['aa','bb','cc']})
df_p

shape: (3, 2)
┌─────┬──────┐
│ id  ┆ name │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 1   ┆ aa   │
│ 2   ┆ bb   │
│ 3   ┆ cc   │
└─────┴──────┘

In [7]:
print(df_p)

shape: (3, 2)
┌─────┬──────┐
│ id  ┆ name │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 1   ┆ aa   │
│ 2   ┆ bb   │
│ 3   ┆ cc   │
└─────┴──────┘

In [8]:
print(df)

   id name
0   1   aa
1   2   bb
2   3   cc

In [14]:
url = 'https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/retail-data/all/online-retail-dataset.csv'
df2 = pd.read_csv(url,nrows=1000)

In [18]:
df2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [19]:
df2.to_csv('data.csv')

In [20]:
df2.shape

(1000, 8)

In [25]:
df_p = pl.read_csv('data.csv')

FileNotFoundError: The system cannot find the file specified. (os error 2): data2.csv

In [39]:
dfp = pl.DataFrame(
    {
        'Id':[1,2,3,4,5],
        'Name':['aa','bb','cc','dd','ee'],
        'score':[50,60,78,82,25]
    })
dfp

shape: (5, 3)
┌─────┬──────┬───────┐
│ Id  ┆ Name ┆ score │
│ --- ┆ ---  ┆ ---   │
│ i64 ┆ str  ┆ i64   │
╞═════╪══════╪═══════╡
│ 1   ┆ aa   ┆ 50    │
│ 2   ┆ bb   ┆ 60    │
│ 3   ┆ cc   ┆ 78    │
│ 4   ┆ dd   ┆ 82    │
│ 5   ┆ ee   ┆ 25    │
└─────┴──────┴───────┘

In [40]:
pl_out = dfp.select(['Name','score'])
print(pl_out)

shape: (5, 2)
┌──────┬───────┐
│ Name ┆ score │
│ ---  ┆ ---   │
│ str  ┆ i64   │
╞══════╪═══════╡
│ aa   ┆ 50    │
│ bb   ┆ 60    │
│ cc   ┆ 78    │
│ dd   ┆ 82    │
│ ee   ┆ 25    │
└──────┴───────┘

In [44]:
dfp.with_columns(
                (pl.col('score')+10).alias('score+10'),
                (pl.col('score')/2).alias('score/2')
                 )

shape: (5, 5)
┌─────┬──────┬───────┬──────────┬─────────┐
│ Id  ┆ Name ┆ score ┆ score+10 ┆ score/2 │
│ --- ┆ ---  ┆ ---   ┆ ---      ┆ ---     │
│ i64 ┆ str  ┆ i64   ┆ i64      ┆ f64     │
╞═════╪══════╪═══════╪══════════╪═════════╡
│ 1   ┆ aa   ┆ 50    ┆ 60       ┆ 25.0    │
│ 2   ┆ bb   ┆ 60    ┆ 70       ┆ 30.0    │
│ 3   ┆ cc   ┆ 78    ┆ 88       ┆ 39.0    │
│ 4   ┆ dd   ┆ 82    ┆ 92       ┆ 41.0    │
│ 5   ┆ ee   ┆ 25    ┆ 35       ┆ 12.5    │
└─────┴──────┴───────┴──────────┴─────────┘

## Extract Transfrom by Polars

In [1]:
import polars as pl

In [4]:
import numpy as np
df = pl.DataFrame(
{
"nrs": [1, 2, 3, None, 5],
"names": ["foo", "ham", "spam", "egg", None],
"random": np.random.rand(5),
"groups": ["A", "A", "B", "C", "B"],
}
)

In [6]:

df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.904315 ┆ A      │
│ 2    ┆ ham   ┆ 0.266527 ┆ A      │
│ 3    ┆ spam  ┆ 0.015447 ┆ B      │
│ null ┆ egg   ┆ 0.034989 ┆ C      │
│ 5    ┆ null  ┆ 0.679349 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [9]:
df.sort(by ='nrs',descending=True,nulls_last = True)
#Descending = เรียงจากมากไปน้อย
# True = ใช้ , fault = ไม่ใช้

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 5    ┆ null  ┆ 0.679349 ┆ B      │
│ 3    ┆ spam  ┆ 0.015447 ┆ B      │
│ 2    ┆ ham   ┆ 0.266527 ┆ A      │
│ 1    ┆ foo   ┆ 0.904315 ┆ A      │
│ null ┆ egg   ┆ 0.034989 ┆ C      │
└──────┴───────┴──────────┴────────┘

In [13]:
df_n = df.with_columns(pl.col('nrs').sort(descending=True,nulls_last = True))
df_n

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 5    ┆ foo   ┆ 0.904315 ┆ A      │
│ 3    ┆ ham   ┆ 0.266527 ┆ A      │
│ 2    ┆ spam  ┆ 0.015447 ┆ B      │
│ 1    ┆ egg   ┆ 0.034989 ┆ C      │
│ null ┆ null  ┆ 0.679349 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [18]:
df_n.select(pl.mean('random'))
# mean ที่เป็นฟังก์ชัน

shape: (1, 1)
┌──────────┐
│ random   │
│ ---      │
│ f64      │
╞══════════╡
│ 0.380125 │
└──────────┘

In [19]:
df_n = df.select(
    (pl.col('nrs')+5).alias('new1'),
    (pl.col('nrs')-3).alias('new2')
)
df_n

shape: (5, 2)
┌──────┬──────┐
│ new1 ┆ new2 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 6    ┆ -2   │
│ 7    ┆ -1   │
│ 8    ┆ 0    │
│ null ┆ null │
│ 10   ┆ 2    │
└──────┴──────┘

In [20]:
df_n = df.with_columns(
    (pl.col('nrs')+5).alias('new1'),
    (pl.col('nrs')-3).alias('new2')
)
df_n

# ตารางเดิม(dataframe)ไม่หาย 
# ถ้าไม่มี alias มันจะไปแทนที่

shape: (5, 6)
┌──────┬───────┬──────────┬────────┬──────┬──────┐
│ nrs  ┆ names ┆ random   ┆ groups ┆ new1 ┆ new2 │
│ ---  ┆ ---   ┆ ---      ┆ ---    ┆ ---  ┆ ---  │
│ i64  ┆ str   ┆ f64      ┆ str    ┆ i64  ┆ i64  │
╞══════╪═══════╪══════════╪════════╪══════╪══════╡
│ 1    ┆ foo   ┆ 0.904315 ┆ A      ┆ 6    ┆ -2   │
│ 2    ┆ ham   ┆ 0.266527 ┆ A      ┆ 7    ┆ -1   │
│ 3    ┆ spam  ┆ 0.015447 ┆ B      ┆ 8    ┆ 0    │
│ null ┆ egg   ┆ 0.034989 ┆ C      ┆ null ┆ null │
│ 5    ┆ null  ┆ 0.679349 ┆ B      ┆ 10   ┆ 2    │
└──────┴───────┴──────────┴────────┴──────┴──────┘

In [23]:
df_ns = df.select(pl.col('*').exclude(pl.String))
df_ns
# เอาหมดยกเว้น str

shape: (5, 2)
┌──────┬──────────┐
│ nrs  ┆ random   │
│ ---  ┆ ---      │
│ i64  ┆ f64      │
╞══════╪══════════╡
│ 1    ┆ 0.904315 │
│ 2    ┆ 0.266527 │
│ 3    ┆ 0.015447 │
│ null ┆ 0.034989 │
│ 5    ┆ 0.679349 │
└──────┴──────────┘

In [25]:
df_ns2 = df.select(pl.col(pl.INTEGER_DTYPES))
df_ns
# เอาแค่ Int

shape: (5, 2)
┌──────┬──────────┐
│ nrs  ┆ random   │
│ ---  ┆ ---      │
│ i64  ┆ f64      │
╞══════╪══════════╡
│ 1    ┆ 0.904315 │
│ 2    ┆ 0.266527 │
│ 3    ┆ 0.015447 │
│ null ┆ 0.034989 │
│ 5    ┆ 0.679349 │
└──────┴──────────┘

In [26]:
df_n = df.with_row_index('index')
df_n
# สร้าง index ขึ้นมา

shape: (5, 5)
┌───────┬──────┬───────┬──────────┬────────┐
│ index ┆ nrs  ┆ names ┆ random   ┆ groups │
│ ---   ┆ ---  ┆ ---   ┆ ---      ┆ ---    │
│ u32   ┆ i64  ┆ str   ┆ f64      ┆ str    │
╞═══════╪══════╪═══════╪══════════╪════════╡
│ 0     ┆ 1    ┆ foo   ┆ 0.904315 ┆ A      │
│ 1     ┆ 2    ┆ ham   ┆ 0.266527 ┆ A      │
│ 2     ┆ 3    ┆ spam  ┆ 0.015447 ┆ B      │
│ 3     ┆ null ┆ egg   ┆ 0.034989 ┆ C      │
│ 4     ┆ 5    ┆ null  ┆ 0.679349 ┆ B      │
└───────┴──────┴───────┴──────────┴────────┘

In [27]:
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.904315 ┆ A      │
│ 2    ┆ ham   ┆ 0.266527 ┆ A      │
│ 3    ┆ spam  ┆ 0.015447 ┆ B      │
│ null ┆ egg   ┆ 0.034989 ┆ C      │
│ 5    ┆ null  ┆ 0.679349 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [29]:
df_n = df.slice(0,3)
df_n

shape: (3, 4)
┌─────┬───────┬──────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups │
│ --- ┆ ---   ┆ ---      ┆ ---    │
│ i64 ┆ str   ┆ f64      ┆ str    │
╞═════╪═══════╪══════════╪════════╡
│ 1   ┆ foo   ┆ 0.904315 ┆ A      │
│ 2   ┆ ham   ┆ 0.266527 ┆ A      │
│ 3   ┆ spam  ┆ 0.015447 ┆ B      │
└─────┴───────┴──────────┴────────┘

In [30]:
# Create customer dataframe
df_customers = pl.DataFrame(
{
"customer_id": [1, 2, 3],
"name": ["Alice", "Bob", "Charlie"],
}
)
print(df_customers)
df_orders = pl.DataFrame(
{
"order_id": ["a", "b", "c"],
"customer_id": [1, 2, 2],
"amount": [100, 200, 300],
}
)
print(df_orders)

shape: (3, 2)
┌─────────────┬─────────┐
│ customer_id ┆ name    │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 1           ┆ Alice   │
│ 2           ┆ Bob     │
│ 3           ┆ Charlie │
└─────────────┴─────────┘
shape: (3, 3)
┌──────────┬─────────────┬────────┐
│ order_id ┆ customer_id ┆ amount │
│ ---      ┆ ---         ┆ ---    │
│ str      ┆ i64         ┆ i64    │
╞══════════╪═════════════╪════════╡
│ a        ┆ 1           ┆ 100    │
│ b        ┆ 2           ┆ 200    │
│ c        ┆ 2           ┆ 300    │
└──────────┴─────────────┴────────┘

In [31]:
df_inner_customer_join = df_customers.join(df_orders,
on="customer_id", how="inner")
print(df_inner_customer_join)

shape: (3, 4)
┌─────────────┬───────┬──────────┬────────┐
│ customer_id ┆ name  ┆ order_id ┆ amount │
│ ---         ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ str   ┆ str      ┆ i64    │
╞═════════════╪═══════╪══════════╪════════╡
│ 1           ┆ Alice ┆ a        ┆ 100    │
│ 2           ┆ Bob   ┆ b        ┆ 200    │
│ 2           ┆ Bob   ┆ c        ┆ 300    │
└─────────────┴───────┴──────────┴────────┘

In [33]:
df_join = df_customers.join(df_orders,on='customer_id',how='inner')
df_join

shape: (3, 4)
┌─────────────┬───────┬──────────┬────────┐
│ customer_id ┆ name  ┆ order_id ┆ amount │
│ ---         ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ str   ┆ str      ┆ i64    │
╞═════════════╪═══════╪══════════╪════════╡
│ 1           ┆ Alice ┆ a        ┆ 100    │
│ 2           ┆ Bob   ┆ b        ┆ 200    │
│ 2           ┆ Bob   ┆ c        ┆ 300    │
└─────────────┴───────┴──────────┴────────┘

In [34]:
df_join = df_customers.join(df_orders,on='customer_id',how='left')
df_join

C:\Users\Admin\AppData\Local\Temp\ipykernel_5096\443886179.py:1: DeprecationWarning: The default coalesce behavior of left join will change to `False` in the next breaking release. Pass `coalesce=True` to keep the current behavior and silence this warning.
  df_join = df_customers.join(df_orders,on='customer_id',how='left')

shape: (4, 4)
┌─────────────┬─────────┬──────────┬────────┐
│ customer_id ┆ name    ┆ order_id ┆ amount │
│ ---         ┆ ---     ┆ ---      ┆ ---    │
│ i64         ┆ str     ┆ str      ┆ i64    │
╞═════════════╪═════════╪══════════╪════════╡
│ 1           ┆ Alice   ┆ a        ┆ 100    │
│ 2           ┆ Bob     ┆ b        ┆ 200    │
│ 2           ┆ Bob     ┆ c        ┆ 300    │
│ 3           ┆ Charlie ┆ null     ┆ null   │
└─────────────┴─────────┴──────────┴────────┘

In [37]:
df_join = df_customers.join(df_orders,on='customer_id',how='full')
df_join
# สลับตารางเปลี่ยน left/right ได้

shape: (4, 5)
┌─────────────┬─────────┬──────────┬───────────────────┬────────┐
│ customer_id ┆ name    ┆ order_id ┆ customer_id_right ┆ amount │
│ ---         ┆ ---     ┆ ---      ┆ ---               ┆ ---    │
│ i64         ┆ str     ┆ str      ┆ i64               ┆ i64    │
╞═════════════╪═════════╪══════════╪═══════════════════╪════════╡
│ 1           ┆ Alice   ┆ a        ┆ 1                 ┆ 100    │
│ 2           ┆ Bob     ┆ b        ┆ 2                 ┆ 200    │
│ 2           ┆ Bob     ┆ c        ┆ 2                 ┆ 300    │
│ 3           ┆ Charlie ┆ null     ┆ null              ┆ null   │
└─────────────┴─────────┴──────────┴───────────────────┴────────┘

## Dataframe pip

In [38]:
# Create a DataFrame
df = pl.DataFrame({
'A': [1, 2, 3],
'B': [4, 5, 6]
})

In [39]:
df

shape: (3, 2)
┌─────┬─────┐
│ A   ┆ B   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 4   │
│ 2   ┆ 5   │
│ 3   ┆ 6   │
└─────┴─────┘

In [48]:
def add_column(df) :
    df_n = df.with_columns((pl.col('A')+pl.col('B')).alias('C'))
    return df_n

def multiply_column(df) :
    df_n = df.with_columns((pl.col('A')+pl.col('B')).alias('CC'))
    return df_n

In [49]:
df_transfromed = (
    df.pipe(add_column)
    .pipe(multiply_column)
)
df_transfromed

shape: (3, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ C   ┆ CC  │
│ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╡
│ 1   ┆ 4   ┆ 5   ┆ 5   │
│ 2   ┆ 5   ┆ 7   ┆ 7   │
│ 3   ┆ 6   ┆ 9   ┆ 9   │
└─────┴─────┴─────┴─────┘

In [50]:
df_transfromed2 = (df.pipe(multiply_column).pipe(add_column))
df_transfromed2

shape: (3, 4)
┌─────┬─────┬─────┬─────┐
│ A   ┆ B   ┆ CC  ┆ C   │
│ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╡
│ 1   ┆ 4   ┆ 5   ┆ 5   │
│ 2   ┆ 5   ┆ 7   ┆ 7   │
│ 3   ┆ 6   ┆ 9   ┆ 9   │
└─────┴─────┴─────┴─────┘

# Work
จงสร้าง data pip line ที่คัด null ออกไป แล้วเอาค่าของคอลัมน์ที่เหลือ คูณกัน

In [52]:
df = pl.DataFrame(
{
"nrs": [1, 2, 3, None, 5],
"names": ["foo", "ham", "spam", "egg", None],
"random": np.random.rand(5),
"groups": ["A", "A", "B", "C", "B"],
}
)
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.476229 ┆ A      │
│ 2    ┆ ham   ┆ 0.407027 ┆ A      │
│ 3    ┆ spam  ┆ 0.775521 ┆ B      │
│ null ┆ egg   ┆ 0.744195 ┆ C      │
│ 5    ┆ null  ┆ 0.207182 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [102]:
def HW_pipeline(df) :
        df_HW = df.sort(by ='*',nulls_last = True).slice(0,4)
        df1 = df_HW.select(pl.col('*').exclude(pl.String))
        df2 = df1.with_columns((pl.col('nrs')*pl.col('random')).alias('Answer'))
        return df2

In [103]:
HW_Fs = df.pipe(HW_pipeline)
HW_Fs

shape: (4, 3)
┌─────┬──────────┬──────────┐
│ nrs ┆ random   ┆ Answer   │
│ --- ┆ ---      ┆ ---      │
│ i64 ┆ f64      ┆ f64      │
╞═════╪══════════╪══════════╡
│ 1   ┆ 0.476229 ┆ 0.476229 │
│ 2   ┆ 0.407027 ┆ 0.814055 │
│ 3   ┆ 0.775521 ┆ 2.326563 │
│ 5   ┆ 0.207182 ┆ 1.035912 │
└─────┴──────────┴──────────┘